<div>

	<input type="checkbox" id="menuToggle"><label for="menuToggle" class="menu-icon">&#9776;</label> <a ui-sref="main.home">Home</a> | <a ui-sref="main.home-speakers({speakerID: 5})">Speakers</a> | <a ui-sref="main.conference({conferenceID:3})">Tester</a>	|


	<p>Welcome {{userDetails.name}}!</p>


	<nav class="menu">
		<ul>
			<li><a>Profile</a>
				<li><a ui-sref="main.home">My Conferences</a>
					<ul class="submenu">
						<li ng-repeat="conference in conferences"><a ui-sref="main.conference({conferenceID: {{conference.conference_id}}})">{{conference.name}}</a></li>
					</ul>
					<li><a>Change Password</a>
						<li><a ng-click="logout()">Logout</a>
							<li><a data-toggle="modal" data-target="#helpModal">Help</a>
								<li><a data-toggle="modal" data-target="#bugModal">Report Bug</a>

		</ul>
	</nav>

	<div id="c-mask" class="c-mask"></div>
	<!-- to be used to darken page when side menu is opened -->




	<!-- Help Modal -->
	<div class="modal fade" id="helpModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Help</h3>
					<p>Can't find the conference? Missing information? Tell us what you need help with in the box below and we will get back to you</p>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div>
							<input type="name" name="name" class="form-control" placeholder="Name" ng-model="attendeeData.name">
						</div>
					</div>
					<div class="form-group">
						<div>
							<input type="email" name="email" class="form-control" placeholder="Email" ng-model="attendeeData.email">
						</div>
					</div>
					<div class="form-group">
						<div>
							<textarea id="comment" type="comment" name="comment" class="form-control" placeholder="Comment" rows="3" ng-model="attendeeData.comment"></textarea>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-default"> Send</button>

					<button id="cancel" name="cancel" class="btn " data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>

	</div>

</div>



<!-- Report Bug Modal -->
<div class="modal fade" id="bugModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Report Problem</h3>
				<p>Having technical issues? Tell us about it these issues in the box below and we'll get back to you.</p>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div>
						<input type="name" name="name" class="form-control" placeholder="Name" ng-model="attendeeData.name">
					</div>
				</div>
				<div class="form-group">
					<div>
						<input type="email" name="email" class="form-control" placeholder="Email" ng-model="attendeeData.email">
					</div>
				</div>
				<div class="form-group">
					<div>
						<textarea type="comment" name="comment" class="form-control" placeholder="Comment" rows="3" ng-model="attendeeData.comment"></textarea>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-default"> Send</button>

				<button id="cancel" name="cancel" class="btn " data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>

</div>