<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1><strong>Website Name</strong> Login </h1>
					<div class="description">
						<p>
							<strong>LOGO</strong>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h3>Change Password</h3>
							
						</div>
						<div class="form-top-right">
							<i class="fa fa-unlock"></i>
						</div>
					</div>
					<div class="form-bottom">
                                            <form ng-submit="changePassword()">
						<div class="form-group">
							<div>
								<input type="password" name="cpassword" class="form-control" placeholder="Old Password..." required="" ng-model="attendeeData.oldPassword" id="error_msg4">
							</div>
						</div>

						<div class="form-group">
							<div>
								<input type="password" name="password" class="form-control" placeholder="New Password..." required="" ng-model="attendeeData.password" id="error_msg4">
							</div>
						</div>
						<div class="form-group">
							<div>
								<input type="password" name="confirm_pword" class="form-control" placeholder="Confirm New Password..." required="" ng-model="pword">
							</div>
						</div>
						<div>
                                                    <button type="submit" class="btn btn-block">Save Changes</button>
						</div>
                                                <div>
                                                    <a ui-sref="main.home">Back to Home</a>
						</div>
                                            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
  </body>
</html> -->