<!--Password Reset Form-->
<div backstretch backstretch-images="bgImage"></div>
<div class="top-content">

	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1><strong>Website Name</strong> Password Reset </h1>
					<div class="description">
						<p>
							<strong>LOGO</strong>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h3>Reset Password</h3>
							<p> Enter your new password here.</p>
						</div>
						<div class="form-top-right">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="form-bottom">
						<!--The form structure-->
						<form ng-submit="sendEmail()" role="form" method="post" class="login-form">
							<div class="form-group">
								<div>
									<input type="password" name="password" class="form-control" placeholder="Password..." required oninvalid="this.setCustomValidity('paswrd')" ng-model="attendeeData.password">
								</div>
							</div>
							<div class="form-group">
								<div>
									<input type="password" name="confirm_pword" class="form-control" placeholder="Confirm Password..." required ng-model="attendeeData.password_confirmation">
								</div>
							</div>

							<div>
								<input type="submit" class="btn" value="Reset Password">

							</div>
						</form>
					</div>
					<div>
						<a ui-sref="login">Return to the login screen </a>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>