APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomKey!!!

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=
JWT_SECRET=GtChVrWzKxWf7FOuEmO18182odgTBtx5
MAIL_EMAIL=
MAIL_PASSWORD=

CACHE_DRIVER=array
QUEUE_DRIVER=sync
