/* Empty. Add your own CSS if you like */

main {
   padding-left: 10%;
	padding-right:10%;
    padding-top:10%;
    padding-bottom:20%;
    
}



#logo-holder{
    margin-bottom:30px;
} 

/*Side Menu*/
.sidemenu > ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 25em;
}

.sidemenu > ul li a {
    display: block;
    background-color: aqua;
}

/*
for active coloring
.sidemenu > ul li a.active {
    background-color: #4CAF50;
    color: white;
}

for full fixed side menu
.sidemenu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;  /* Full height 
    position: fixed;  /* Make it stick, even on scroll 
    overflow: auto; /* Enable scrolling if the sidenav has too much content 
}
*/
