/* Empty. Add your own CSS if you like */

main {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
	padding-bottom: 20%;
}

#logo-holder {
	margin-bottom: 30px;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #00A5CC;
}

li {
	list-style-type: none;
}

header {
	width: 100%;
	height: 50px;
	margin: auto;
	border-bottom: 1px solid #EEE;
}

nav {
	width: 100%;
	text-align: center;
}

nav a {
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	color: #fff;
}

nav a:hover {
	background: #1ad5ff;
	color: #FFF;
}


/*nav li:last-child a { border-bottom: none; }*/


/*-----------------------------------------*/

.menu {
	width: 240px;
	height: 100%;
	position: absolute;
	background: #00A5CC;
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.menu-icon {
	padding: 10px 20px;
	background: #00A5CC;
	color: #fff;
	cursor: pointer;
	float: left;
	clear: both;
	margin: 6px 6px 0 0;
	border-radius: 5px;
}

#menuToggle {
	display: none;
}

#menuToggle:checked~ .menu {
	position: absolute;
	left: 0;
}


/*
.c-mask {
      position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0;
        height: 0;
        background-color: #000;
        opacity: 0;
        -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
        transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;

        height: 100%;  /* Full height *
        position: fixed;  /* Make it stick, even on scroll *
        overflow: auto; /* Enable scrolling if the sidenav has too much content *
}
*/


/*sub-menu*/

.menu ul li:hover ul {
	opacity: 1;
	left: 240px
}

.menu ul li ul {
	opacity: 0;
	position: absolute;
	background-color: #333;
	top: 0;
	left: -240px;
	min-width: 200px;
	height: 100%;
	-webkit-transition: opacity 450ms ease-in;
	-moz-transition: opacity 450ms ease-in;
	-ms-transition: opacity 450ms ease-in;
	transition: opacity 450ms ease-in;
}


/*.menu ul li > ul li a:hover { background-color:#2e2e2e; }*/