<div class="container-fluid">
  <div class="top-content">
    <div class="inner-bg">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1>
            <strong>About
            </strong> Conference
          </h1>
        </div>
      </div>
      <div id ="border">
        <div class="container-fliud">
          <div class="span8">
            <div class="well">
              <div id="myCarousel" class="carousel fdi-Carousel slide">
                <!-- Carousel items -->
                <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active">
                    </li>
                    <li data-target="#myCarousel" data-slide-to="1">
                    </li>
                    <li data-target="#myCarousel" data-slide-to="2">
                    </li>
                  </ol>
                  <div class="carousel-inner onebyone-carosel">
                    <!--Each item class can hold up to three pics, or slides for that item, before using the arrows to go on to the next item -->
                    <div class="item active">
                      <!--The pics/slides, which are each contained in a col-md-4 div-->
                      <div class="col-md-2">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">1
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">1
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">1
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">1
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">1
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">1
                        </div>
                      </div> 
                    </div>
                    <!--If you use more than 3 pics, then the carousel places that pic on the next line -->
                    <div class="item">
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                      <div class="col-md-4">
                        <a href="#">
                          <img src="http://placehold.it/200x200" class="img-responsive center-block">
                        </a>
                        <div class="text-center">2
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Use spans and data-targets instead of <a hrefs>, as I need the hrefs for navigating the different states of the app-->
                  <span class="left carousel-control" data-target="#eventCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                  </span>
                  <span class="right carousel-control" data-target="#eventCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right">
                    </span>
                  </span>
                </div>
                <!--/carousel-inner-->
              </div>
              <!--/myCarousel-->
            </div>
          </div>
        </div>
      </div>
      <div  id = "about" class="row container-fluid">
        <h3 class="display-4">About the Conference
        </h3>
      </div>
      <div id="about">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div id="about">
        <div id="collapseTwo" class="accordion-body collapse">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, repudiandae, asperiores atque quas deleniti odit minima fugiat obcaecati dolorum ad amet ipsum similique ea consequuntur quos dolore error veniam sed.  
          </p>
        </div>
        <button class="SeeMore2 btn" data-toggle="collapse" href="#collapseTwo">See More
        </button>
      </div>
    </div>
  </div>
</div>
