<!DOCTYPE html>
<!-- <html>
    <head>
        <title> Reset Password </title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        
    </head>
    
<body>-->
    <main>
        
    <div class="col-sm-12">
      
       <input type="password" placeholder="Old Password" class="form-control">
        <br>
        <input type="password" placeholder="New Password" class="form-control">
        <br>
      <input type="password" placeholder="Confirm New Password" class="form-control">
        <br>
        <button type="button" class="btn btn-default">OK</button>
    
    </div>
        
   
    
    </main>
<!--  
  </body>
</html>