<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../css/tabbedcon.css">
</head>

<body>
	<!--  <script src="../js/conhome.js"></script>
  <script src="../js/tabbedcon.js"></script>-->

	<!--  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBD4TjGeZXKw7fWYR8X0UGfHAIvQqzUmF0"></script>-->
	<script>
		function initialize() {
			var mapProp = {
				center: new google.maps.LatLng(51.508742, -0.120850),
				zoom: 5,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<ul class="tab">
		<li><a href="" class="tab_links active" onclick="openTab(event, 'Public')">Public</a></li>
		<li><a href="" class="tab_links" onclick="openTab(event, 'Private')">Private</a></li>

	</ul>

	<div id="Private" class="tab_con">
		<ul class="tab">
			<li><a href="" class="tablinks active" onclick="openCity(event, 'London')">Schedule</a></li>
			<li><a href="" class="tablinks" onclick="openCity(event, 'Paris')">Speakers</a></li>
			<li><a href="" class="tablinks" onclick="openCity(event, 'Map')">Map</a></li>
			<li><a href="" class="tablinks" onclick="openCity(event, 'Tokyo')">About</a></li>
		</ul>

		<div id="London" class="tabcontent" style="display: block;">



			<ul style="list-style-type:none">
				<li>
					<h3>Conference 1</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					<a href="#"> See more...</a>
				</li>
				<li>
					<h3>Conference 2</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					<a href="#"> See more...</a>
				</li>
				<li>
					<h3>Conference 3</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					<a href="#"> See more...</a>
				</li>
			</ul>
		</div>

		<div id="Paris" class="tabcontent">
			<ul style="list-style-type:none">
				<li>
					<h3>Speaker 1</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					<a href="#"> See more...</a>
				</li>
				<li>
					<h3>Speaker 2</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					<a href="#"> See more...</a>
				</li>
				<li>
					<h3>Speaker 3</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					<a href="#"> See more...</a>
				</li>
			</ul>
		</div>

		<div id="Tokyo" class="tabcontent">
			<div>
				/*this div will contain the band of images seen in the template*/
			</div>

			<div>
				<h3>
       About the conference
     </h3>
				<p>
					Stuff about the conference...
				</p>

			</div>
		</div>

		<div id="Map" class="tabcontent">
			<div id="googleMap" style="width:500px;height:380px;"></div>
			<p>sfsfewfsf</p>
		</div>
	</div>

	<div id="Public" class="tab_con" style="display: block;">
		<ul style="list-style-type:none">
			<li>

				<h3>Conference 1</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

				<a href="#"> See more...</a>
			</li>


			<li>

				<h3>Conference 2</h3> Lorem ipsum dolor sit amet, consectetur aipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum


				<a href="#"> See more...</a>
			</li>

			<li>
				<h3>Conference 3</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

				<a href="#"> See more...</a>
			</li>
		</ul>*/
	</div>
</body>

</html>