<ion-view view-title="Login">
<ion-content class="row responsive-lg">
<div class="col-75">
  <label class="item item-input">
   
<i class="icon ion-person"></i> <input type="text" placeholder=" Email">
  </label>
  <label class="item item-input">
  <i class="ion-ios-locked"></i>
    <input type="text" placeholder=" Password">
  </label>
  
</div>
<div class="button block">
<a class="button button block button-calm" href="#/register">Register</a>
</div>
    
<div class="button block">   
<a class="button button block button-calm"  href="#/main/home">Forgot Password</a>
</div>
<!--<br/>
<br/>
<br/>
<br/>-->
<a href=""><div class="bar bar-balanced">
  <div class="title">login</div>
</div>
</a>

</ion-content>
</ion-view>