<!DOCTYPE html>
<!--<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    
<body>-->
    <main>
     
    <div id="logo-holder">
        <img src="" alt="Logo" class="img-circle" height="150" width="150" id="Logo-Img">
    </div>
    <form ng-submit="loginAttendee()">
        <div class="form-group">
            <div class="col-sm-12">
            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="attendeeData.email"> 
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="attendeeData.password">
        
            </div>
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
            <input type="submit"  class="btn btn-default" value="Log in"> 
            <br>
                <a ui-sref="register" class="btn btn-default" role="button">Sign up</a>
            </div>
        </div>
    </form>
    
    <div class="col-sm-12">
        <p>  Have you forgotten your username or password? <a ui-sref="forgotpassword"> Click here</a> </p>
    
    </div>
    
    </main>
    
<!--    </body>
</html>-->
