<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    
<body>
    <main>
     
    <div id="logo-holder">
        <img src="..." alt="Logo" class="img-circle" height="150" width="150" id="Logo-Img">
    </div>
    <form>
        <div class="form-group">
            <div class="col-sm-12">
            <input type="text" name="username" class="form-control" placeholder="Username" > 
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" name="password" class="form-control" placeholder="Password">
        
            </div>
        </div>
        
        <div class="form-group">
            
            <div class="col-sm-12">
            
            <input type="button"  class="btn btn-default" value="Log in"> 
            <br>
                <a href="registration.html" class="btn btn-default" role="button">Sign up</a>
            </div>
        </div>
    </form>
    
    <div class="col-sm-12">
        <p>  Have you forgotten your username or password? <a href="pass-reset.html"> Click here</a> </p>
    
    </div>
    
    </main>
    
    </body>
</html>
