<!--<ion-view view-title="Home">
        <ion-content class="padding">
          
			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search">
			  </label>
			</div>-->


		
                
      <!--=========================NEW COMMENT FORM =============================================== -->
    <form ng-submit="submitSpeaker()">  <!--ng-submit will disable the default form action and use our function -->
    
         NAME 
        <div class="form-group">
            <input type="text" class="form-control input-sm" name="name" ng-model="speakerData.name" placeholder="Name">
        </div>
    
         EMAIL 
        <div class="form-group">
            <input type="email" class="form-control input-lg" name="email" ng-model="speakerData.email" placeholder="Email">
        </div>
         
         AFFILIATION 
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="affiliation" ng-model="speakerData.affiliation" placeholder="Affiliation">
        </div>
         
         TELEPHONE 
        <div class="form-group">
            <input type="tel" class="form-control input-lg" name="telephone" ng-model="speakerData.telephone" placeholder="123-4567">
        </div>
         
         IMAGE 
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="comment" ng-model="speakerData.image_path" placeholder=".jpg">
        </div>
         
         PRESID
         <div class="form-group">
            <input type="number" class="form-control input-lg" name="comment" ng-model="speakerData.presentation_id" placeholder=".jpg">
        </div>
         
        
    
         SUBMIT BUTTON 
        <div class="form-group text-right">   
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
                

      <p>Speakers go here</p>
        <div ng-repeat="speaker in speakers">
	   {{speaker.speaker_id}} {{speaker.name}}
           <p><a href="#" ng-if="speaker" ng-click="deleteSpeaker(speaker.speaker_id)" class="text-muted">Delete</a></p>
	</div>	

    <p>Conferences go here</p>
        <div ng-repeat="conference in conferences">
            {{conference.conference_id}} {{conference.name}}
        </div>

                <p>presenations</p>
                <div ng-repeat="presentation in conferences">
                    {{presentation.presentation_id}} {{presentation.title}}
                    </div>

<!--<ion-list>

	<div class="item item-divider">
	    Group By Date
	</div>

	  
<ion-item>
    
    
   
</ion-item>

<ion-item>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
</ion-item>-->

<!--<div class="item item-divider">
	    Group By Date
	</div>

	  

    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
      
    </a>    -->

    

<!--</ion-list>
						

        </ion-content>
      </ion-view>-->
