<div style="width:75%; margin: auto;" ng-hide="loading" dir-paginate="conference in conferences | itemsPerPage: 10">
         <h3>Conference {{conference.conference_id}}: {{conference.name}}</h3>   
            
   

      
                <p ng-class="{empty: !(presentation[conference.conference_id])}"> <strong>{{presentation[conference.conference_id].presentation_id || '?'}}: {{presentation[conference.conference_id].title || '?'}} </strong> </p> 
                
                <div style="width:75%; margin: auto; text-align: left;" class="item-expand inactive" ng-class="{empty: !(presentation[conference.conference_id])}">
                    {{presentation[conference.conference_id].abstract || '?'}} 
                </div>
                <a ui-sref="main.conference({conferenceID: {{conference.conference_id}}})">See More</a>
                

        </div>
        <dir-pagination-controls></dir-pagination-controls>



               

                  



