


		
                
      <!--=========================NEW COMMENT FORM =============================================== -->
<!--    <form ng-submit="submitSpeaker()">  
        ng-submit will disable the default form action and use our function 
    
         NAME 
        <div class="form-group">
            <input type="text" class="form-control input-sm" name="name" ng-model="speakerData.name" placeholder="Name">
        </div>
    
         EMAIL 
        <div class="form-group">
            <input type="email" class="form-control input-lg" name="email" ng-model="speakerData.email" placeholder="Email">
        </div>
         
         AFFILIATION 
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="affiliation" ng-model="speakerData.affiliation" placeholder="Affiliation">
        </div>
         
         TELEPHONE 
        <div class="form-group">
            <input type="tel" class="form-control input-lg" name="telephone" ng-model="speakerData.telephone" placeholder="123-4567">
        </div>
         
         IMAGE 
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="comment" ng-model="speakerData.image_path" placeholder=".jpg">
        </div>
         
         PRESID
         <div class="form-group">
            <input type="number" class="form-control input-lg" name="comment" ng-model="speakerData.presentation_id" placeholder=".jpg">
        </div>
         
        
    
         SUBMIT BUTTON 
        <div class="form-group text-right">   
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>-->
                
<!--
      <p>Speakers go here</p>
        <div ng-repeat="speaker in speakers">
	   {{speaker.speaker_id}} {{speaker.name}}
           <p><a href="#" ng-if="speaker" ng-click="deleteSpeaker(speaker.speaker_id)" class="text-muted">Delete</a></p>
	</div>

    -->
    
   
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBD4TjGeZXKw7fWYR8X0UGfHAIvQqzUmF0"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
    
    <ul class="tab">
 <li><a href="#" class="tablinks active" onclick="openCity(event, 'London')">Schedule</a></li>
 <li><a href="#" class="tablinks" onclick="openCity(event, 'Paris')">Speakers</a></li>
 <li><a href="#" class="tablinks" onclick="openCity(event, 'Map')">Map</a></li>
 <li><a href="#" class="tablinks" onclick="openCity(event, 'Tokyo')">About</a></li>
</ul>

<div id="London" class="tabcontent">



  <ul style="list-style-type:none">
  <li>
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum
    <a href="#"> See more...</a>
  </li>
  <li>
    <h3>Conference 2</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum
    <a href="#"> See more...</a>
  </li>
  <li>
    <h3>Conference 3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum
      <a href="#"> See more...</a>
  </li>
</ul>
</div>

<div id="Paris" class="tabcontent">
  <ul style="list-style-type:none">
  <li>
    <h3>Speaker 1</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum
    <a href="#"> See more...</a>
  </li>
  <li>
    <h3>Speaker 2</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum
    <a href="#"> See more...</a>
  </li>
  <li>
    <h3>Speaker 3</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum
      <a href="#"> See more...</a>
  </li>
</ul>
</div>

<div id="Tokyo" class="tabcontent">
 <div>
   /*this div will contain the band of images seen in the template*/
 </div>

 <div>
   <h3>
     About the conference
   </h3>
   <p>
     Stuff about the conference...
   </p>

 </div>
 </div>

 <div id="Map" class="tabcontent">
  <div id="googleMap" style="width:500px;height:380px;"></div>
   <p>sfsfewfsf</p>
</div>-->

<div style="width:75%; margin: auto;" ng-hide="loading" ng-repeat="conference in conferences">
         <h3>Conference {{conference.conference_id}}: {{conference.name}}</h3>   
            
   
<!--            <div ng-repeat="presentation in selectPres(conference.conference_id)">-->
      
                <p ng-class="{empty: !(presentation[conference.conference_id])}"> <strong>{{presentation[conference.conference_id].presentation_id || '?'}}: {{presentation[conference.conference_id].title || '?'}} </strong> </p> 
                
                <div class="item-expand inactive" ng-class="{empty: !(presentation[conference.conference_id])}">
                    {{presentation[conference.conference_id].abstract || '?'}} 
                </div>
                <a ui-sref="main.conference({conferenceID: {{conference.conference_id}}})">See More</a>
                
<!--                <p> {{presentation.abstract}} </p>-->
<!--                    </div>-->
<!--          <a href="#"> See more...</a>-->
        </div>
        
<!--    <p>Conferences go here</p>-->
    
    <!-- LOADING ICON =============================================== -->
    <!-- show loading icon if the loading variable is set to true -->
<!--    <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
     
    
        <div ng-hide="loading" ng-repeat="conference in conferences">
            {{conference.conference_id}} {{conference.name}}

        </div>-->
               
        <!--
            <p>presentation goes here</p>
                <div ng-repeat="presentation in getConferenceID(conference.id)">
            <!--<div ng-repeat="presentation in presentations" ng-init="selectPres(conference.conference_id)">-->
                  <!--  {{presentation.presentation_id}} {{presentation.title}}
                    </div>

        </div>
       -->
  



               

                  



