
<ul class="topnav" id="myTopnav">
<li id="nav"> <button  type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-menu-hamburger"></span> 
        </button></li>
  <li><a href="#Schedule">Schedule</a></li>
  <li><a href="#Speakers">Speakers</a></li>
  <li><a href="#map">Map</a></li>
  <li><a href="#about">About</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
  <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input id="searchbar" type="text" class="form-control" placeholder="Search">
        
        <button ui-sref="header" id="searchbar" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></button></div>
      </form>
        </div>
        
</ul>

<div class="container-fluid">
  <div id="nav" class="row">
     <h2 class="text-center">Conference Name</h2>
    
 <h4 class="text-right">Event Name</h4> 
  </div>
<div id="nav2" class="row">
     



<ul class="nav nav-tabs nav-justified" id="nav2">

  <li><a href="#Schedule">Open Conferences</a></li>
  <li><a href="#Speakers">Closed Conferences</a></li>
        </div>
        
</ul>






  </div>
</div> 



 
