<!--Begining of heading contains the name and logo of application-->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Website Name</strong> Login </h1>
                            <div class="description">
                                <p>
                                    <strong>LOGO</strong>
                                </p>
                            </div>
                        </div>
                    </div>
<!--End-->
<!--Form top-Heading of form containing brief instructions on how the form should be filled-->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Forgot your password?</h3>
                                    <p> Enter your email address and we'll send your password reset instructions:</p>
                                </div> 
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
<!--End-->
<!--Form Bottom-containing the feilds that user must fill to reset password in the application-->
                            <div class="form-bottom">
                              <form ng-submit="loginAttendee()" role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                        <label class="sr-only" for="form-email">Email</label>
                                        <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="attendeeData.email">
                                    </div>
                                    <!--Button to request reste information-->

                                    <div>
                                         <button class="btn ">Send me reset information</button>
                     
                                    </div>
                         <div>
                          <!--Link that returns to login screen-->

                                <a ui-sref="login">Return to the login </a>
                        </div>
                              </form>  

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
<!--End Form-->
