<!--

<!DOCTYPE html>
<html>
    <head>
        <title> Reset Password </title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
            <link rel="stylesheet" href="../css/style.css">
                <script src="../js/bootstrap.min.js"
    type="text/javascript"></script>
            </head><body>-->
            <div class="container-fluid">
            <style>
.center {
    text-align: center;
    }
</style>
            <div class="center" id="logo-holder">
                <a class="brand" style="margin: 0; float: none; text-align:center" href="#">
                    <img src="../img/Logo_TV_2015.png" height = "140" width ="133" align ="middle" />
                </a>
                <br></br>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <p>Forgot your password? 
                    
                    <br>  Enter your email address and we'll send your password reset instructions 
                    
                    </p>
                    <input type="email" placeholder="Email Address" class="form-control">
                        <br>
                            <button type="button" class="btn btn-default">Send me reset information</button>
                        </div>

                        <div class="col-sm-4 col-sm-offset-4">
                            <a ui-sref="login">
                                <p> Return to the login screen </p>
                            </a>
                        </div>
                        </div>
                        <!--    </body></html>-->