<div class="container-fluid">
<div class="panel panel-default">
  <div class="panel-body">
     <h4>Conference 2</h4>
      <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
     <div id="collapse1" class="accordion-body collapse">
    
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>



        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, repudiandae, asperiores atque quas deleniti odit minima fugiat obcaecati dolorum ad amet ipsum similique ea consequuntur quos dolore error veniam sed.  
        </p>
            </div>
    <button class="SeeMore2 btn" data-toggle="collapse" href="#collapse1">See More</button>
   
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-body">
     <h4>Conference 2</h4>
      <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
     <div id="collapseTwo" class="accordion-body collapse">
    
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>



        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, repudiandae, asperiores atque quas deleniti odit minima fugiat obcaecati dolorum ad amet ipsum similique ea consequuntur quos dolore error veniam sed.  
        </p>
            </div>
    <button class="SeeMore2 btn" data-toggle="collapse" href="#collapseTwo">See More</button>
   
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-body">
     <h4>Conference 2</h4>
      <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
     <div id="collapseThree" class="accordion-body collapse">
    
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>



        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, repudiandae, asperiores atque quas deleniti odit minima fugiat obcaecati dolorum ad amet ipsum similique ea consequuntur quos dolore error veniam sed.  
        </p>
            </div>
    <button class="SeeMore2 btn" data-toggle="collapse" href="#collapseThree">See More</button>
   
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-body">
     <h4>Conference 2</h4>
      <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
     <div id="collapse4" class="accordion-body collapse">
    
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi reiciendis harum quibusdam tempore commodi! Voluptatem recusandae incidunt accusamus expedita.</p>



        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, repudiandae, asperiores atque quas deleniti odit minima fugiat obcaecati dolorum ad amet ipsum similique ea consequuntur quos dolore error veniam sed.  
        </p>
            </div>
    <button class="SeeMore2

     btn" data-toggle="collapse" href="#collapse4">See More</button>
   
  </div>
  </div>
</div>

