<ion-view view-title="Register">
<ion-content>
<div class="list">

	<label class="item item-input">
    	<input type="text" placeholder="Username">
  	</label>

	<label class="item item-input">
    	<input type="text" placeholder="Email">
  	</label>

  <label class="item item-input">
    <input type="text" placeholder="Password">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Confirm Password">
  </label>
  
</div>



<a href=""><div class="bar bar-footer bar-balanced">
  <div class="title">Register</div>
</div>
</a>

</ion-content>
</ion-view>