
<div class="list">

	<label class="item item-input">
    	<input type="text" placeholder="Username">
  	</label>

	<label class="item item-input">
    	<input type="text" placeholder="Email">
  	</label>

  <label class="item item-input">
    <input type="text" placeholder="Password">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Confirm Password">
  </label>
  
</div>



<a ui-sref="login"><div class="bar bar-footer bar-balanced">
  <div class="title">Login</div>
</div>
</a>

