
<!-- Button modal transparent -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-transparent">
  Launch modal transparent
</button>

<!-- Modal transparent -->
<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Report</h4>
        <p>Having technical issues? Tell us about it these issues in the box below and we'll get back to you.</p>
      </div>
      <div class="modal-body">
      
<div class="form-group">
                            <div>
                                <input type="name" name="name" class="form-control" placeholder="Name" ng-model="attendeeData.name">
                                </div>
                            </div>

                        <div class="form-group">
                            <div>
                                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="attendeeData.email">
                                </div>
                            </div>
  
  <div class="form-group">
                                <div>
                                    <textarea id = "comment" type="comment" name="comment" class="form-control" placeholder="Comment" rows="3" ng-model="attendeeData.comment"></textarea>
                                    </div>
                                </div>

      </div>
      <div class="modal-footer">
        <button class="btn"> Send</button> 
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- include jQuery -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  


</div>