<div class="sidemenu">

<input type="checkbox" id="menuToggle">
<label for="menuToggle" class="menu-icon">&#9776;</label>

            
<br><br><br>

<nav class="menu">
    <ul>
        <li><a ui-sref="">Profile</a>
        <li><a ui-sref="main.home">My Conferences</a>
            <!-- <ul><li>sub-menu containing list of conferences</li></ul> -->
        <li><a ui-sref="">Change Password</a>
        <li><a ui-sref="">Logout</a>
        <li><a ui-sref="">Help</a>
        <li><a ui-sref="">Report Bug</a>
    </ul>
</nav>

</div>


<!--Menu must have dynamic sub-menu for when new conferences are added to users profile

<input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon">&#9776;</label>

            
            <br><br><br>
            
            
            <nav class="menu">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">My Conference</a></li>
                    <li><a href="#">Change Password</a></li>
                </ul>
            </nav>



will have to add controller to get conferences
-->