<div>
<img src="" height="40" width="40">
</div>

<div>
  <h3>Dr. John Doe, PHD</h3>
  Position/Title
  Affiliation/Organization
  Work Phone
  Work Email
</div>

<div>
  <h3>
    Bio
  </h3>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

do eiusmod tempor incididunt ut labore et dolore magna

aliqua. Ut enim ad minim veniam, quis nostrud exercitation

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

do eiusmod tempor incididunt ut labore et dolore magna

aliqua. Ut enim ad minim veniam, quis nostrud exercitation
</div>

<div>
  <h3>Past Events</h3>
<ul>
  <li>Event 1</li>
  <li>Event 2</li>
  <li>Event 3</li>
</ul>
</div>
