
<div id="speakerbio" class="container">

  
	<div id="border">
		<img src="http://placehold.it/200x200" height="200" width="200">
	</div>


	<div class="row">
		<div class="col-md-6">

			<div>
				<h3>Dr. John Doe, PHD</h3>
				<li>Position/Title:</li>
				<li>Affiliation/Organization:</li>
				<li>Work Phone:</li>
				<li>Work:</li>
			</div>

			<div id="pastevents">
				<h3>Past Events</h3>
				<div>
					<li>Event 1</li>
					<li>Event 2</li>
					<li>Event 3</li>
				</div>
			</div>


		</div>

		<div class="col-md-6">
			<div>
				<h3>

    Bio
  </h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
					in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>


		</div>
	</div>



<!--End-->
</div>
</div>
</div>

