<!--
<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
            <link rel="stylesheet" href="../css/style.css">
            </head><body>-->
<!--<div id="logo-holder"><img src="" alt="Logo" class="img-circle" height="150" width="150" id="Logo-Img"><br></br>-->
<div class="container-fluid">
	<style>
		.center {
			text-align: center;
		}
	</style>
	<div class="center" id="logo-holder">
		<a class="brand" style="margin: 0; float: none; text-align:center" href="#">
                  Client Login
                </a>
	</div>
	<section>

		<form ng-submit="loginClient()" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-4">
					<input type="email" name="email" class="form-control" placeholder="Email" ng-model="clientData.email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-4">
					<input type="password" name="password" class="form-control" placeholder="Password" ng-model="clientData.password">
				</div>
			</div>
			<div style="padding-left:6px;" class="col-sm-4 col-sm-offset-4">
				<input type="submit" class="btn btn-default" value="Log in">


				<a ui-sref="client-register" class="btn btn-default " role="button">Sign up</a>
			</div>
		</form>
		<div class="col-sm-4 col-sm-offset-4" style="padding-left:6px;">
			<p> Have you forgotten your username or password?
				<a ui-sref="forgotpassword"> Click here</a>
			</p>
		</div>
	</section>
</div>
<!--    </body></html>-->