<!--<!DOCTYPE html>
<html>
<head> 
<title> User Profile</title>

<meta name="viewport" content="width=device-width initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="tyles.css" rel="stylesheet">

</head>-->

<form>
	<img src="images/profileph.png" class="img-responsive" style="width: 150px;
    margin: auto;">

	<button type="submit" class="btn btn-default">Edit Photo</button>
	<div class="form-group">
		<label for="InputName"></label>
		<input type="name" class="form-control" id="InputName" placeholder="Name">
	</div>
	<div class="form-group">
		<label for="attractions"></label>
		<input type="text" class="form-control" id="attarctions" placeholder="Attraction/Organization">
	</div>
	<div class="form-group">
		<label for="useremail"></label>
		<input type="email" class="form-control" id="useremail" placeholder="Email">
	</div>

	<div class="form-group">
		<label for="story"></label>
		<input type="text" class="form-control" id="story" placeholder="What's your story?">
	</div>

	</div>
	<button type="submit" class="btn btn-default">Edit Details</button>
</form>
<!--</html>-->