

<div class="container-fluid" id="con">
    <div ng-repeat="pres in presentations">
	<div class="panel panel-default" id="border">
		<div class="panel-body">
                        <div>
                            <h3>Title</h3>
                            <p>{{pres.title}}</p>
                        </div>
                    
			<div>
				<h3>Abstract</h3>
				<p>{{pres.abstract}}</p>
			</div>
			<div>
				<h3>Location</h3>
				<p>The University of the West Indies
                                    Mona Campus
                                    Mona
                                    Jamaica W.I. </p>
			</div>
			<div>
				<h3>Time/Date</h3>
				<p>Time: {{pres.start_time}} - {{pres.end_time}}</p>
				<p>Date :Wednesday, August 10, 2016 (AST)</p>
			</div>
			<div>
				<h3>Contact Information</h3>
				<li>Name:First Last</li>
				<li>Email Address: hdvvkzsv@fjck.com</li>
			</div>
			<div>
				

                            <div class="row">
                                <div class="col-md-6"></div>
<!--                                <div class="col-md-6">
                                  <button class="btn pull-right" data-toggle="collapse" href="#collapse2">Join Conference</button>

                                </div>-->
                            </div>
			</div>
		</div>
	</div>
    </div>

</div>    
            
  