body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a,
a:hover,
a:focus {
	color: rgb(6, 152, 152);
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

h1,
h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

h3.modal-title {
	color: black;
}

img {
	max-width: 100%;
}

::-moz-selection {
	background: rgb(6, 152, 152);
	color: #fff;
	text-shadow: none;
}

::selection {
	background: rgb(17, 169, 169);
	color: #fff;
	text-shadow: none;
}


img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #de995e;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

.btn-link-1.btn-link-1-facebook {
	background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
	background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
	background: #dd4b39;
}

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
	outline: 0;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}


/***** Top content *****/

.inner-bg {
	/*    padding: 100px 0 170px 0;*/
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	color: rgb(57, 169, 169);
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p {
	opacity: 0.8;
}

.top-content .description a {
	color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
	border-bottom: 1px dotted #fff;
}

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: rgba(0, 0, 0, .5);
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top p,
h3 {
	color: white;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	margin-top: 0;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	/*background: rgba(238, 238, 238, .5);*/
	background: rgba(0, 0, 0, .4);
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom p {
	color: white;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de995e;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

.backstretch img{
        background: white;
}

#about h3 {
    color: black;
    text-align: left;
    font-weight: 400;
}
#about img {
    margin: 0 auto;
    padding: 5px;
    width: 200px;
    height: 200px;
    float:left;
}

#about p {
    text-align: left;
}
#border {
    border-bottom: solid;
    box-shadow: 0px 0px 5px grey;
    color: rgb(6, 152, 152);
    width: 100%;
}

#speakerbio {
	background: white;
}

#speakerbio img {
	padding: 5px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	width: 200px;
	height: 200px;
}

#speakerbio h3 {
	color: black;
	text-align: left;
	font-weight: 400;
}

#speakerbio p {
	text-align: left;
}

#speakerbio li {
	text-align: left;
}

#pastevents {
	border-top: solid 1px rgb(6, 152, 152);
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	/*	.inner-bg { padding: 60px 0 110px 0; }*/
	.inner-bg {
		padding: 0px 0 0px 0;
	}
	.form-box {
		margin-top: 0px;
	}
	#checklable label {
		color: rgba(6, 152, 152, 0.5);
	}
}

#user img {
    margin: 0 auto;
    padding: 5px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 200px;
    height: 200px;
   
}

#con img{
    margin: 0 20px 10px 10px;
}

#con p {
	text-align: justify;
}

/*
@media (max-width: 767px) {
    .inner-bg {
        padding: 60px 0 110px 0;
    }
}

.modal-content
{
    background-color: rgba(6, 152, 152, 0.5);
}

.private-conf
{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgba(6, 152, 152, 0.0);
}
*/


/*.no-border
{
    border: none !important;
}*/

@media (max-width: 415px) {

    h1,
    h2 {
        font-size: 32px;
    }
}
.panel {

    transition: padding 0.5s;
    -moz-transition: padding 0.5s; /* Firefox 4 */
    -webkit-transition: padding 0.5s; /* Safari and Chrome */
    -o-transition: padding 0.5s; /* Opera */
    -ms-transition:padding 0.5s; /* IE9 (maybe) */  
  
}

.carousel {
    margin-bottom: 0;
    padding: 0 12px 0px 12px;
}

.carousel-control {
    left: -10px
}
.carousel-control.right {
    right: -10px;
}

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.carousel-indicators li {
    background: #c0c0c0;
}

.carousel-indicators .active {
background: #333333;
}